<body>
  <div class='card'>
    <div class='card-header' style="align-content: center;">
      Student Course Application
    </div>

    
    <div class='card-body'>

      <div class="row">
        <button class="open-button" id="openform" (click)="openForm()">Add New Student</button>
      </div>

      <div class="row" style="margin-top:10px; margin-bottom:5px;">
          <select  (change)="changeCourse(course)" id="mySelect" [(ngModel)]="selectedCourse">
            <option *ngFor="let course of courses" value="{{course.courseName}}">{{course.courseId}}  {{course.courseName}}</option>
          </select>
      </div>

      <div class="row" style="margin-top:10px; margin-bottom:5px;">
        <h6 *ngIf="students && students.length">Students enrolled in {{selectedCourse}}</h6>
      </div>

      <div class="table-responsive">
        <table class="table"
               *ngIf="students && students.length">
          <thead>
            <tr>
              <th>Name</th>
              <th>Grade</th>
              <th>Options</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let student of students">
              <td>
                <a class="btn" (click)="openEditForm(student)">{{student.name}}</a>
              </td>

              <td>{{student.grade}}</td>
              <td>
                <a class="btn" (click)="deleteStudent(student)">Delete</a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</body>
